*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.975);
    padding: 1.5rem;
    align-items: center;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nav{
    font-size: larger;
    margin-left: 10rem;
}

.list-wrapper{
    margin: 0 1rem 0 0;
}

.item-wrapper{
    margin-left: 2rem;
    
}

.item-wrapper>li {
    list-style: none;
    opacity: 0.5;
    margin:0 1rem;
}

.icon-wrapper{
    margin: 0 10rem;
}

.cart{
    height: 30px;
    margin: 0 2.5rem;
}

.logo{
    height: 30px;
    border-radius: 15px;
}

.content-wrapper{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 3rem;
}

.photos{
    margin: 0 0 0 15rem;
}

.main-photo{
    height: 400px;
    border-radius: 1rem;
}

.submain-photo{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.shoes-sale{
    height: 85px;
    margin-top: 1rem;
    border-radius: 1rem;
}