*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 1140px;
    margin: auto;
}

/* navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.975);
    padding: 1.5rem;
    align-items: center;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nav{
    font-size: 2rem;
    
}

.list-wrapper{
    margin: 0 1rem 0 0;
}

.item-wrapper{
    margin-left: 2rem;
    
}

.item-wrapper>li {
    list-style: none;
    color: #919394 ;
    margin:0 1rem;
    font-size: 1.1rem;
}

.icon-wrapper{
    

}

.cart{
    height: 30px;
    margin: 0 2.5rem;
}

.logo{
    height: 30px;
    border-radius: 15px;
}

.content-wrapper{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 3rem;
}

.photos{
    margin: 0 0 0 15rem;
}

.main-photo{
    height: 400px;
    border-radius: 1rem;
}

.submain-photo{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.shoes-sale{
    height: 85px;
    margin-top: 1rem;
    border-radius: 1rem;
}

.content{
    width:400px;
    margin: 0 4rem;
}

.content-head{
    font-size: 0.9rem;
    color: orange;
    margin-top: 0.3rem;
}

.content-text{
    font-size: 2.8rem;
    margin-top: 0.3rem;
}

.content-paragraph{
    font-size: 1.1rem;
    opacity: 0.5;
    margin-top: 1.5rem;
}

.currency{
    display: flex;
    margin-top: 0.3rem;
}

.currency-text{
    font-size: 1.5rem;
    margin-top: 1px;
    margin-top: 0.6rem;
}

.discount{
    color: orange;
    border: 1px solid beige;
    border-radius: 0.3rem;
    background-color: beige;
    margin-left: 2rem;
    margin-top: 0.6rem;
}

.currency-cancel{
    text-decoration: line-through;
    margin-top: 0.3rem;
    opacity: 0.5;
}

.ATC-btn{
    position: relative;
    margin: 2rem -1rem;
}

.btn-name{
    width: 8rem;
    height: 1.5rem;
    margin-left: 1rem;
    border: none;
    border-radius: 0.2rem;
}

.btn-increase{
    margin-left:1.5rem;
    position: absolute;
    margin-top: 0.4rem;
    border: none;
    color: orange;
    font-weight: bolder;
    font-size: 1.2rem;
}

.btn-decrease{
    margin-left: -1.2rem;
    position: absolute;
    margin-top: 0.4rem;
    border: none;
    color: orange;
    font-weight: bolder;
    font-size: 1.2rem;
}

.btn-cart{
    margin: 0.2rem 1rem;
    width: 10rem;
    height: 2rem;
    background-color: orange;
    color: white;
    border-radius: 0.5rem;
    border: none;
}

.fa{
    margin-right: 1.2rem;
}